<li class="user-item">
  <a class="list-item" href="/users/<%= item.id %>">
    <div class="user-img">
      <img src="<%= item.photo %>" alt="user-image" class='user-box'>
    </div>
    <div class="user-desc">
      <h3><%= item.name %></h3>
      <p>Number of posts: <%= item.posts_counter %></p>
    </div>
  </a>
</li>
