main {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-list {
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a.list-item {
  display: flex;
  text-decoration: none;
  color: black;
}

a > div.user-img {
  width: 25%;
  border: 1px solid;
}

a > div.user-desc {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  padding: 20px;
  width: 100%;
  border: 1px solid;
}

.user-desc > p {
  align-self: flex-end;
}

section {
  margin: 20px 0;
  padding: 0 20px;
  border: 1px solid;
}

section.post-item {
  padding-bottom: 10px;
  flex: 1;
}

section.post-item > small {
  display: flex;
  justify-content: flex-end;
}

div.all-post {
  display: flex;
  justify-content: center;
}

#see-all-posts {
  text-decoration: none;
  padding: 20px;
  border: 1px solid;
}

div.comment-block {
  margin: 0 20px;
  border: 1px solid;
  padding: 10px;
}

div.pagination {
  display: flex;
  justify-content: center;
}

div.pagination > i {
  padding: 10px;
  color: rgb(11, 117, 117);
  cursor: pointer;
}

li.user-item {
  padding-bottom: 10px;
}

div.action-links-box {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
}

input[type="submit"] {
  margin: 0 20px;
  padding: 10px;
}

input[type="text"] {
  padding: 10px;
}

textarea {
  padding: 10px;
}

form#inputs {
  display: flex;
  flex-direction: column;
  align-content: center;
  row-gap: 20px;
  width: 50%;
  padding: 30px;
  border: 1px solid;
}

form#comment_form {
  display: flex;
  flex-direction: column;
  align-content: center;
  row-gap: 20px;
  width: 50%;
  padding: 30px;
  border: 1px solid;
}
