ul.user-list {
  margin: 20px;
  list-style: none;
}

a.list-item {
  margin: 20px;
  display: flex;
  text-decoration: none;
  color: black;
}

a > div.user-img {
  width: 25%;
  border: 1px solid;
}

a > div.user-desc {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  padding: 20px;
  width: 100%;
  border: 1px solid;
}

.user-desc > p {
  align-self: flex-end;
}
